{% extends 'base.html.twig' %}


{% block body %}

    <div class="title-container">
        <div class="title">
            <h1>Naas Official Website</h1>
            <hr>
            <ul>
                <li><a href="https://bsky.app/profile/naas.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i></a></li>
                <li><a href="https://x.com/NaasOff" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.flickr.com/people/199420432@N07/" target="_blank"><i class="fa-brands fa-flickr"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://robertsspaceindustries.com/community-hub/user/Naas" target="_blank">Community Hub</a></li>
            </ul>
        </div>
    </div>
    <div class="parent">
        <div class="div div1"><img src="{{ asset('images/StarCitizen 2025-04-12 13-48-41.png') }}" alt=""></div>
        <div class="div div2"><img src="{{ asset('images/StarCitizen 2025-01-02 22-29-55_01.jpg') }}" alt=""></div>
        <div class="div div3"><img src="{{ asset('images/StarCitizen 2024-07-19 22-18-35_02.jpg') }}" alt=""></div>
        <div class="div div4"><img src="{{ asset('images/StarCitizen 2024-12-21 19-12-58.jpg') }}" alt=""></div>
        <div class="div div5"><img src="{{ asset('images/StarCitizen 2025-03-29 01-47-53.jpg') }}" alt=""></div>
        <div class="div div6"><img src="{{ asset('images/StarCitizen 2025-01-07 20-35-13.jpg') }}" alt=""></div>
{#        <div class="div div7"><img src="{{ asset('images/StarCitizen 2024-12-30 00-12-54.png') }}" alt=""></div>#}
{#        <div class="div div8"><img src="{{ asset('images/StarCitizen 2024-10-12 20-28-20.jpg') }}" alt=""></div>#}
    </div>

{% endblock %}
